* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/* color palette:
    teal: 95F5F5
    light gray purple: 7C77B9
    charcoal: 2F323A
    chalk muted yellow: FED766
    off white: FAE3E3 */

.main-container {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #95f5f5;
    color: #2F323A;

    font-family: 'Kanit', sans-serif;
}

.top-banner,
.second-banner,
.middle-banner,
.bottom-banner,
.footer {

    flex: 1 1 auto;

    width: 100%;
}

.second-banner,
.bottom-banner {

    background-color: #FED766;
    height: 10px;

}

.middle-banner {

    height: 60vh;

    background: url(./assets/paperplane-notrail.svg) 1260px 10px no-repeat,
                url(./assets/dashed-line-trail.png) 20px 90px no-repeat, #7C77B9;
    background-size:  20% 20%, 90% 75%;

    text-align: center;
    padding: 100px;

    margin-top: -10px;

}

.middle-banner>p {

    font-size: 40px;

}

.middle-banner>p:first-child {

    text-align: left;
    margin-left: 50px;
    margin-top: -50px;
    padding-bottom: 50px;

}

.middle-banner>p:last-child {

    text-align: right;
    margin-right: 50px;
    margin-top: 50px;

}

.footer {

    height: 5vh;

    background-color: #2F323A;

    padding: 20px;

}

.footer>p {

    color: #FAE3E3;
    font-size: 18px;
    text-align: center;

}

.footer-link {
    text-decoration: none;
    color: #95f5f5;
}

.top-banner {
    margin-bottom: 20px;
}

.nav-items {

    height: 100%;
    width: 30%;
    padding: 0px;
    margin-left: auto;
    margin-top: -10px;

    text-align: center;

    display: flex;
    justify-content: flex-end;

}

.nav-item {

    margin: 0px;

    list-style: none;

    flex: 1 1 auto;

    font-size: 20px;

    height: 0px;

    padding-bottom: 10px;

}


.nav-link {
    text-decoration: none;
    color: #2F323A;
   
    height: 85px;
    width: 100%;
    padding: 25px 10px;

    display: block;
}

.nav-link:hover {
    color: #FAE3E3;
    background-color: #FED766;
}

.form-container {
    height: 60vh;
    width: 100%;
    background-color: #7C77B9;
    padding: 50px;
}

.form {
    margin: auto;
    margin-top: -10px;

    background-color: #95f5f5;
    width: 700px;
    height: auto;
    padding: 5px 20px 10px 20px;

    border-radius: 20px;
}

.message-input,
.submit-btn {

    background-color: #FAE3E3;
    display: block;
    margin: auto;

    border-radius: 20px;

}

.submit-btn {

    width:100px;
    height: 25px;

}

.submit-btn:hover{

    background-color: #7C77B9;
    color: #FAE3E3;

}

.msg-label {

    color: #2F323A;
    margin: auto;
    padding: 10px;

}

.message-input {

    width: 100%;
    height: 280px;
    resize: none;
    padding: 10px;
    line-height: 25px;
    font-size: 16px;
    

}

.message-input:focus {

    outline: solid #7C77B9;

}

.message-input:invalid {

    outline: 2px solid #ff8787;

}
